.searchBar__control {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 0 !important;
}

.searchBar__input, .searchBar__placeholder {
  color: white !important;
}

.searchBar__menu {
  background-color: black !important;
}

.searchBar__indicator {
  color: white !important;
}
